<footer>
        Trademark 2019 SIMPLY_SUBLIME
    </footer>
    <script src="/js/text-editor.js"></script>
    <script src="//www.authy.com/form.authy.min.js"></script>
    <script src='/js/create_form.js'></script>
</body>
</html>