<hr class="footer-split">
<footer>

<div class="footer-content">
    <div class="footer-item">
        <h3>Media</h3>
        <div class="footer-link-group">
            <div class="footer-link">
                <i class="fab fa-linkedin"></i>
                <a href="https://www.linkedin.com/in/devin-davis-63008412b/"><h4> Linkedin:</h4></a>
            </div>
            
            <div class="footer-link">
                <i class="fab fa-github"></i>
                <a href="https://github.com/barnacleDevelopments"><h4> GitHub</h4></a>
            </div>

            <div class="footer-link">
                <i class="fab fa-twitter-square"></i>
                <a href="https://twitter.com/Simpl_Sublime"><h4> Twitter</h4></a>
            </div>
        </div>
    </div>

    <div class="footer-item">
        <h3>Contact</h3>
        <div class="footer-link-group" >
            <div class="footer-link">
                <i class="fas fa-atom"></i>
                <a href="devins.d@protonmail.com"><h4> devins.d@protonmail.com</h4></a>
            </div>
            
        </div>
    </div>

    <div class="footer-item">
        <h4>Links</h4>
        <div class="footer-link-group">
            <div class="footer-link">
                <i class="fab fa-codepen"></i>
                <a href="https://codepen.io/dashboard/"><h4> CodePen</h4></a>
            </div>
            <div class="footer-link">
                <i class="fab fa-medium"></i>
                <a href="https://medium.com/@devDeveloper"><h4> Medium</h4></a>
            </div>
        </div>
    </div>
</div>
   
 <div class="footer-trademark">
        <p>Trademark 2019 SIMPLY_SUBLIME <br>
        Logo design by: Nikonas Davis</p>
    </div>

    </footer>
</div>
 <script src="/js/blog-searcher.js"></script>
</body>
</html>