<hr class="footer-split">
<footer>

<div class="footer-content">
    <div class="footer-media">
        <h3>Media</h3>
        <div>
            <h3>Linkedin</h3>
            <h3>GitHub</h3>
            <h3>Twitter</h3>
        </div>
    </div>

    <div class="footer-contact">
        <h3>Contact</h3>
        <div>
            <h3>devins.d@protonmail.com</h3>
        </div>
    </div>

    <div class="footer-links">
        <h3>Links</h3>
        <h3>CodePen</h3>
    </div>
</div>
   


    <div class="footer-trademark">
        <p>Trademark 2019 SIMPLY_SUBLIME</p>
    </div>

    </footer>
</div>
    <script src="/js/text-editor.js"></script>
</body>
</html>