<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/blog-show.css">
    <link rel="stylesheet" href="/stylesheets/blog-list.css">
    <link rel="stylesheet" href="/stylesheets/blog-editor.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="https://kit.fontawesome.com/2cea744347.js" crossorigin="anonymous"></script>
    <title>Barnacle Dev Blog</title>
</head>
<body>
  <div class="app-wrap">
  <div>
    <div class="navbar">
      <a href="/">
        <div class="main-logo"><img src="/img/logo.png"></div>
      </a>
      <div class="main-nav">
        <ul>
            <li><a href="/blogs">Blog</a></li>
            <li><a href="/blogs">Projects</a></li>
        </ul>
      </div>
      <div class="search-container">
        <input id="blog-search" type="text">
        <div id="searched-items"></div>
      </div>
  
       
      <div class="member-nav">
        <% if(!currentUser) { %>
        <ul>
            <li class="login-btn"><a href="/login"><button>LOGIN</button></a></li>
            <li><a href="/register"><button>REGISTER</button></a></li>
        </ul>
          <% } else { %>
          <div class="logout-btn">
            <a href="/logout"><button>LOGOUT</button></a>
          </div>
          <% } %>
          <% console.log(currentUser) %>
      </div>
    </div>
  </div>
