<% include partials/header %>
    <form class="blog-create-form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
        <div class="content-area">
            <input type="text" value="<%=blog.title%>" name="title" placeholder="title here">            
            <input type="text" value="<%=blog.image%>" name="image" placeholder="image url here">
        </div>
        <div class="editor">
        <div class="tool-bar">
            <button href="javascript:void(0)" class="bold-btn">B</button>

            <button href="javascript:void(0)" class="italics-btn">I</button>
            
            <button href="javascript:void(0)" class="underline-btn">U</button>
          
            <button href="javascript:void(0)" class="list-btn">L</button>
        </div>
            <div placeholder="text goes here" class="text-area" contenteditable="true"><%-blog.content%></div>
            <textarea placeholder="text goes here" class="text-content" name="content"></textarea>
        </div>

        <div class="blog-form-submit">
            <input type="submit" value="Submit">
        </div>
        <a href="/blogs"></a>
    </form>
    <script src="/js/text-editor.js"></script>
<% include partials/footer %>