<% include partials/header %>
    <div class="home-intro">
        <div class="personal-intro">
            <div class="intro-portrait">
                <img src="/img/portrait.jpg" alt="">
            </div>
            
            <div class="intro-content">
                <h1>A little about me:</h1>
                <p>Welcome to my blog/website! My name is Devin and I've been learning web development
                    for the last nine months with a focus on developing a strong foundational knowledge. 
                    I've primarily focused on JavaScript, CSS, and HTML and I've also been dabbling with 
                    NodeJS, its library express and React. I'm looking forward to further developing myself
                    professionally in this ever evolving field!
                </p>
            </div>
        </div>
  
    <div class="blog-intro">
        <div class="intro-content">
                <h1>The Blog</h1>
                <p>I'm using blog on this website as a tool for my learning but also a Medium where people can 
                   read tutorials and learn new things. I've always been technicle but simplistic in my writings 
                   and I hope you can learn a thing or two. Enjoy the blog!
                </p>
        </div>

        <div class="blog-intro-img">
                <img src="/img/portrait.jpg" alt="">
        </div>
    </div>
        



    </div>
        <div class="card-area">
            <div class="card">
                <div class="card-img">
                    <img src="https://miro.medium.com/max/7086/0*SC5rr7NZwSG7uNI5">
                </div>
                <div class="card-content">
                    <h2>Contact</h2>
                    <hr>
                    <p>Whether that be implementing changes to an existing website or developing a new one entirely.
                        I've got the know how to help you, and if not I'll figure it out! </p>
                </div>       
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="https://miro.medium.com/max/7086/0*SC5rr7NZwSG7uNI5">
                </div>
                <div class="card-content">
                    <h2>Contact</h2>
                    <hr>
                    <p>Whether that be implementing changes to an existing website or developing a new one entirely.
                        I've got the know how to help you, and if not I'll figure it out! </p>
                </div>       
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="https://miro.medium.com/max/7086/0*SC5rr7NZwSG7uNI5">
                </div>
                <div class="card-content">
                    <h2>Contact</h2>
                    <hr>
                    <p>Whether that be implementing changes to an existing website or developing a new one entirely.
                        I've got the know how to help you, and if not I'll figure it out! </p>
                </div>       
            </div>
        </div>
    

<% include partials/footer %>