<% include partials/header %>
    <div class="home-intro">
        <div class="personal-intro">
            <div class="intro-portrait">
                <img src="/img/portrait.jpg" alt="">
            </div>
            
            <div class="intro-content">
                <h1>About</h1>
                <p>Welcome to my blog/website! My name is Devin and I've been learning web development
                    for the last nine months with a focus on developing a strong foundational knowledge. 
                    I've primarily focused on JavaScript, CSS, and HTML and I've also been dabbling with 
                    NodeJS, its library express and React. I'm looking forward to further developing myself
                    professionally in this ever evolving field!
                </p>
            </div>
        </div>
  
    <div class="blog-intro">
        <div class="intro-content">
                <h1>The Blog</h1>
                <p>I'm using this blog as a tool for my learning but also a Medium where people can 
                   read tutorials and learn new things. I've always been technicle but simplistic in my writings 
                   and I hope you can learn a thing or two. Enjoy the blog!
                </p>
        </div>

        <div class="blog-intro-img">
                <img src="/img/blog.jpg" alt="">
        </div>
    </div>
    </div>
        <div class="card-area">
            <div class="card">
                <div class="card-img">
                    <img src="/img/projects.jpg">
                </div>
                <div class="card-content">
                    <h2>Projects</h2>
                    <hr>
                    <div>
                        <p>Take a look at some of the projects I’m working on or that I’ve deployed.</p>
                    </div>
                    
                    <div>
                        <button>Explore</button>
                    </div>
                </div>       
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80">
                </div>
                <div class="card-content">
                    <h2>Blog</h2>
                    <hr>
                    <div>
                        <p>Read my blog and learn some cool stuff!</p>
                    </div>
                 
                    <div>
                        <a href="/blogs"><button>Read</button></a>
                    </div>
                 
                </div>       
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1523966211575-eb4a01e7dd51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60">
                </div>
                <div class="card-content">
                    <h2>Contact</h2>
                    <hr>
                    <div>
                        <p>Let's get in touch and chat about all things web. </p>
                    </div>
                    
                    <div>
                        <button>Contact</button>
                    </div>
                </div>       
            </div>
        </div>
    

<% include partials/footer %>