<% include partials/header %>
    <div class="login-container">
        <form action="/login" method="post">
            <div class="login-fields">
                <div>
                    <input placeholder="Username" type="text" name="username">
                </div>
                <div>
                    <input placeholder="Password" type="text" name="password">
                </div>
            </div>
            <button>Login</button>
        </form>
    </div>
<% include partials/footer %>