<% include partials/header %>
<div>
    <form class="blog-create-form" action="/blogs" method="POST">
        <div class="content-area">
            <input type="text" name="title" placeholder="title here">            
            <input type="text" name="image" placeholder="image url here">
            
        </div>
        <div class="editor">
        <div class="tool-bar">
          
                <button href="javascript:void(0)" class="bold-btn">B</button>

            
                <button href="javascript:void(0)" class="italics-btn">I</button>
            
        
                <button href="javascript:void(0)" class="underline-btn">U</button>
          
            
                <button href="javascript:void(0)" class="list-btn">L</button>
          
        </div>
            <div class="text-area" contenteditable="true"></div>
            <textarea class="text-content" placeholder="..." name="content" ></textarea>
        </div>
        <div class="blog-submit">
            <input type="submit" value="SUBMIT">
        </div>
        <a href="/blogs"></a>
    </form>
</div>

<% include partials/footer %>

