<% include partials/header %>
<div>
    <h1>Create a Blog Post:</h1>
    <form action="/blogs" method="POST">
        <div>
            <label for="Blog_Title">Blog title:</label>
            <input type="text" name="blog[title]" placeholder="title here">            
        </div>

        <div>
            <label for="Blog_Image">Upload blog image:</label>
            <input type="text" name="blog[image]" placeholder="image url here">
        </div>

        <div>
            <label for="Blog_Content">Blog content:</label>
            <div>
                <button><i></i></button>
                <button><i></i></button>
                <button><i></i></button>
            </div>
            <textarea name="blog[content]"></textarea>
        </div>
        <input type="submit">
        <a href="/blogs"></a>
    </form>
</div>

<% include partials/footer %>

