<% include partials/header %>
<form>
    <div>
        <lable>Full Name:</lable>
        <input type="text" name="fullName">
    </div>

    <div>
        <lable>Email Address:</lable>
        <input type="text" name="email">
    </div>

    <div>
        <lable>Password</lable>
        <input type="text" name="password">
    </div>

    <div>
        <lable>Country Code</lable>
        <input type="text" name="countryCode">
    </div>

    <div>
        <lable>Mobile Phone</lable>
        <input type="text" name="mobilePhone">
    </div>

    <button>Submit</button>
</form>


<% include partials/footer %>