body {
    margin: 0;
    background-color: #d3d3d3;
}

.app-wrap {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    padding: 30px;
}

/*nav*/

.navbar {
    background-color: rgb(238, 238, 238);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    align-items: center;
    margin-bottom: 25px;
}

.search-container {
    width: 150px;
    position: relative;
}


.search-container input {
    font-size: 1.1rem;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 15px;
    padding: 10px;
}


.search-container ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
    max-height: 100px;

   
}

.search-container li {
    list-style-type: none; 
    padding: 10px;
    width: 100%;
    background-color: white;
  
}

.search-container li > a {
    color: black;
    text-decoration-color: pink;
    font-weight: 700;
    font-size: 1.3rem;
    
}

.main-nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}


.main-logo img {
    width: 100px;
}

.main-logo img {
    width: 100px;
    box-shadow: 2px 2px 4px pink;
    border-radius: 300px;
}

.main-nav ul {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    text-align: center;
    width: 100%;
}

.main-nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.main-nav  button {
    border: none;
    width: 70px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.main-logo {
    color: white;
    margin: 0 auto;
    display: flex;
}

.member-nav {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: right;
    align-items: center;
    width: 230px;
    margin: 0 auto;
}


.member-nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 10px 0px 10px 0px;
    text-align: center;
    width: 100%;
}

.member-nav li {
    list-style-type: none;
}

.member-nav button {
    width: 100px;
    border: none;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;

}

.member-nav button:hover {
    background-color: black;
    color: white;
    box-shadow: 1px 1px 1px black;;
}

.login-btn button {
    background-color: black;
    color: white;
}

.login-btn button:hover {
    background-color: white;
    color: black;
}

.member-nav a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 992px) {
    .main-nav li {
        text-align: left;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .navbar {
        grid-template-columns: 1fr 1fr 1fr 1fr
    }

    .logout-btn {
        margin: 0 auto;
    }

    .member-nav ul {
        padding: 0;
        margin-top: 15px;
    }

    .member-nav ul {
        display: none;
     }
    
     .navbar input {
        width: 100px
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {

    .navbar {
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }

    .main-nav {
        display: none;
    }
    
    .member-nav ul {
        grid-template-columns: 1fr;
    }

    .member-nav {
        display: none
    }

    .main-logo {
        justify-content: center;
    }

   
}

@media screen and (min-width: 312px) and (max-width: 600px) {
    .navbar {
        grid-template-columns: 1fr;
    }

    .navbar input {
        margin: 25px auto;
    }


    .member-nav ul {
        grid-template-columns: 1fr;
    }

    .main-logo {
        justify-content: center;
    }

    .member-nav {
        display : none;
    }

    .main-nav {
        display: none;
    }
}

footer {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: grid;
}


.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.footer-item > div {
    text-align: center;
}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-link-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

.card-area {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media screen and (min-width: 900px) {
    .footer-link-group {
        flex-direction: row;
    }

    .footer-content {
        grid-template-columns:  repeat(3, 1fr)
    }

   }
   

@media screen and (min-width: 600px) and (max-width: 900px) {
    .footer-link-group {
        flex-direction: column;
    }
    .footer-content {
        grid-template-columns:   repeat(3, 1fr)
    }
}

@media screen and (min-width: 316px) and (max-width: 600px) {
    .footer-link-group {
        flex-direction: unset;
    }
    .footer-content {
        grid-template-columns:  1fr;
    }
   }

.footer-item i {
    font-size: 30px;;
}

.footer-item > a {
    text-decoration: none;
}

.footer-item h4 {
    margin:10px 0px 20px 0px;
}


.footer-trademark {
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-split {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}