/* blog show */
.header-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 15px;
    grid-gap: 10px;
}

.header-container img {
    width: 100%;
    border-radius: 5px;
}

.header-container h1 {
    margin-top: 0;
}

.current-blog-date {
    font-size: 2rem;
}

.current-blog-title {
    display: grid;
    align-content: center;
}

.content-container {
    line-height: 2.3rem;
}

.content-container p {
    font-size: 1.3rem;
}

.content-container pre {
    font-size: 1.3rem;
    background-color: #d3d3d3;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.content-container span {
    width: 100%;
}

.show-btn form  {
    height: 100%;
}

.show-btns {
    display: flex;
    width: 135px;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.show-btns input {
    border: 2px solid rgba(0, 0, 8, 0.6);
    color: 2px solid rgba(0, 0, 8, 0.6);
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
}

.show-btns input:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 8, 0.6);
}

.show-btns button:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 8, 0.6);
}

.show-btns a button {
    border: 2px solid rgba(0, 0, 8, 0.6);
    color: 2px solid rgba(0, 0, 8, 0.6);
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
}

.show-btns a button {
    border: 2px solid rgba(189, 0, 0, 0.6);
    color: rgba(189, 0, 0, 0.6);
}
